---
Checks:          '*,
                  -fuchsia*,-google*,-zircon*,-abseil*,-llvm*, 
                  -*braces-around-statements,
                  -*uppercase-literal-suffix,
                  -*magic-numbers,
                  -*signed-bitwise,
                  -hicpp-vararg,
                  -hicpp-no-array-decay,
                  -modernize-use-nodiscard,
                  -misc-no-recursion,
                  -readability-else-after-return,
                  -cppcoreguidelines-pro-type-union-access,
                  -cppcoreguidelines-pro-type-vararg,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-pro-type-static-cast-downcast'
HeaderFilterRegex: ''
FormatStyle:     none


#TODO: check if assert() in clang 12 still triggers array-to-pointer-decay checks